$white:#FFFFFF;
$pink:#FF3E79;
header
{
  background-color: $white;
  height:88px;
  width:320px;
  position: absolute;

}
.header__menu-button
{
  display:flex;
  background-color: $pink;
  width:40px;
  height:40px;
  position:absolute;
  left:16px;
  top: 24px;
  border-radius: 20px;
  right:264px;
}
.header__menu-button {

.menu-button_line-1{
  position: absolute;
  background-color:white;
  height: 2px;
  width: 18px;
  bottom:86%;
  border-radius: 1px;
  top:12px;
  left:11px;}

  .menu-button_line-2{
    position: absolute;
    background-color:white;
    height:2.5px;
    width: 10px;
    border-radius: 1px;

    left:11px;
    top:19px;
  }
  menu-button_line-3
  {
    position: absolute;
    background-color:white;
    height:2.5px;
    width: 14px;
    border-radius: 1px;

    left:11px;
    top:26px;}

}
header {
  .logo-container__logo{
  display: flex;
  width:24px;
  height:30px;
  right:68px;
  position:absolute;
  top:11px;
  background-image: url("/img/Group.svg");
  background-repeat: no-repeat;
  background-size:23px 29px;
}
}